@model CinemaParadiso.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<fieldset>
    <legend>Movie</legend>
    <div>
        <img src="@Model.CoverUrl" />
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoverUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoverUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Approved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approved)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
