@model IEnumerable<CinemaParadiso.Models.Movie>
@{
    ViewBag.Title = "Home";
}
<form method="get" action="@Url.Action("Index")"
      data-cp-ajax="true" data-cp-target="#moviesList">

    <input type="search" name="searchText" value="@Html.Encode(ViewBag.SearchText)" data-cp-autocomplete="@Url.Action("AutoComplete")" />
    <input type="submit" value="Search" />
</form>

@*@using (Ajax.BeginForm(
    new AjaxOptions 
    {
     HttpMethod = "get",
     InsertionMode = InsertionMode.Replace,
     UpdateTargetId = "moviesList"   
    }))
{
    <input type="search" name="searchText" value="@Html.Encode(ViewBag.SearchText)" />
    <input type="submit" value="Search" />
}*@

@Html.Partial("_Movies", Model)